body{
	background-color: #ECF0F1;
}

header{
	height: 4em;
	line-height: 4em;
	padding-left: 2em;
	background-color: #34495E;
}

header h2{
	margin: 0;
	padding:0;
	line-height: inherit;
	color: rgba(255, 255, 255, 0.8);
}

ul{
	background-color: #ECF0F1;
	list-style: none;
	padding: 0;
    margin: 0;
}

li{
	padding: 0.5em;
	padding-left: 1em;
	transition: all 0.3s;
	cursor: pointer;
}

path{
	stroke: white;
	fill : #1ABC9C;
	transition: all 0.3s;
}

li.active{
	background-color: #BDC3C7;
}

path.active{
	fill: #16A085;
}